@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    color: theme('colors.blue.500');
    text-decoration: underline;
  }
}
@layer base {
  html {
    font-size: 16px;
    color-scheme: dark light;
  }
}
body {
  text-align: center;
  background-color: #f3f4f6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.navBar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  background-color: hsl(165, 3%, 74%);
  height: 8vh;
}

.navBarText{
  display:flex;
  width: 30vw;
  justify-content: space-between;
  margin-right: 1%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

.navBarLogo {
  display: flex;
  left: 5%;
  justify-content: left;
  margin-left: 1%;
  width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
}

.navBarLinks{
  color: black;
  font-size: large;
  text-decoration: none;
}

.introButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  background-color: #003f22;
  height: 100%;
}

.introButtons{
  position: relative;
  background-color: #595959;
  color: white;
  width: 60%;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px; 
  margin-top: 10px;
}
