@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    color: theme('colors.blue.500');
    text-decoration: underline;
  }
}
@layer base {
  html {
    font-size: 16px;
    color-scheme: dark light;
  }
}
body {
  text-align: center;
  background-color: maroon;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
